<!-- Initialize the $link variable with a safe default value if it is not set in markdown -->
{{ $link := "https://humandomestication.guide"}}
<!-- Grab the citation from markdown and assign it to $link-->
{{with .Attributes.link}}
  {{ $link = . }}
{{end}}
<!-- Aria Labels-->
{{ $aria := dict
    "important" "Important information blockquote"
    "note" "Note Blockquote"
    "quotation" "Story quotation"
    "affini" "Block quote from the affini"
    "loret" "Block quote from the lorets"
    "question" "question" 
    "answer" "answer"
  }}
  <!-- MDI Icons for Border-->
  {{ $mdi := dict
    "important" "\ue645"
    "note" "\ue873"
    "quotation" "\ue244"
    "affini" "\uea99"
    "loret" "\uea19"
    "question" "\ueb8b"
    "answer" "\uea11" 
  }}
   <!-- Quoteblock -->
  {{ if eq .Type "alert" }}
  <div class="quote-Block {{ .AlertType }}-quoteblock">
  <!-- Header (Icon, Title, and Type) -->
   <div class="quote-Header">
    <div class="quote-Border {{ .AlertType }}-Border">
      {{ (index $mdi .AlertType)}}  
    </div>
  </div>
    <blockquote class="quoteContent quoteContent-{{ .AlertType }}" aria-label="{{ (index $aria .AlertType) }}">
      <span>{{ .Text }}</span>
    </blockquote>
  </blockquote>
  {{ with .Attributes.caption }}
    <figcaption class="blockquote-caption">
      <p> - </p>
      <a href="{{ $link }}">{{ . | safeHTML }}</a>
    </figcaption>
    {{ end }}
  </div>
{{ else }}
  <blockquote>
    {{ .Text }}
{{ end }}
  