/* Define Custom Colours */
/* Will inherit everything from custom.css */
/* To use rgba(var(--color), alpha) color must be in RGB not hex*/
/* ***********************/
:root {
}
  
  /* Bold Text, Dark Theme*/
strong:is(html[class~=dark] *){
    font-weight:bolder;
    color: rgb(var(--hdg-accordorange!important));
  }
  /* Bold Text, Light Theme */
  strong {
    font-weight:bolder;
    color: rgb(var(--hdg-exeterorange))!important;
  }
/* Change the colour of links in Dark Theme */
.content :where(a):not(:where([class~=not-prose], [class~=not-prose] *)):is(html[class~=dark] *) {
  --tw-text-opacity: 1;
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity));
  color: rgb(var(--hdg-accordorange));
}
/* Change the colour of links in Light Theme */
.content :where(a):not(:where([class~=not-prose], [class~=not-prose] *)) {
  --tw-text-opacity: 1;
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity));
  color: rgb(var(--hdg-exeterorange));
}

/* Fun Title Decoration */
.hdg-title-decoration {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgb(var(--hdg-cosmicnavy)) 5px,
    rgb(var(--hdg-cosmicnavy)) 25px
  );
  height:25px;
}
.hdg-title-decoration:is(html[class~=dark] *) {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgb(var(--hdg-accordorange)) 5px,
    rgb(var(--hdg-accordorange)) 25px
  );
  height:25px;
}
/*  Heading 2 Divisor Color Light Theme */
.content :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  border-color: rgba(var(--hdg-cosmicnavy));
}
/*  Heading 2 Divisor Color Dark Theme */
.content :is(html[class~=dark] *):where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  border-color: rgb(var(--hdg-accordorange));
}
