/* Define Custom Colours */
/* Will inherit everything from custom.css */
/* To use rgba(var(--color), alpha) color must be in RGB not hex*/
/* ***********************/
:root {
}
  
  /* Bold Text, Dark Theme*/
strong:is(html[class~=dark] *){
    font-weight:bolder;
    color: rgb(var(--hdg-floretgreen!important));
  }
  /* Bold Text, Light Theme */
  strong {
    font-weight:bolder;
    color: rgb(var(--hdg-haustoricgreen))!important;
  }