/* Define Custom Colours */
/* Will inherit everything from custom.css */
/* To use rgba(var(--color), alpha) color must be in RGB not hex*/
/* ***********************/
:root {
}
  
  /* Bold Text, Dark Theme*/
strong:is(html[class~=dark] *){
    font-weight:bolder;
    color: rgba(var(--hdg-sproutpurple))!important;
  }
  /* Bold Text, Light Theme */
  strong {
    font-weight:bolder;
    color: rgb(var(--hdg-pinnatepurple))!important;
  }
/* Change the colour of links in Dark Theme */
.content :where(a):not(:where([class~=not-prose], [class~=not-prose] *)):is(html[class~=dark] *) {
  --tw-text-opacity: 1;
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity));
  color: rgb(var(--hdg-sproutpurple));
}
/* Change the colour of links in Light Theme */
.content :where(a):not(:where([class~=not-prose], [class~=not-prose] *)) {
  --tw-text-opacity: 1;
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity));
  color: rgb(var(--hdg-pinnatepurple));
}
  /* Fun Title Decoration */
  .hdg-title-decoration {
    height: 25px;
    background-image: url(meta-divisor-repeat.e4afbdf88b9e92ebfaf7db11b9d5edec.svg);
  }
